.profile__collapse {
  background-color: #fff;
  border-radius: 5px;
}

.genExtra {
  display: flex;
  width: 50px;
  align-items: center;
  > svg {
    margin-right: 5px;
    fill: var(--color-orange-1);
  }
  > p {
    margin: 0;
    font-size: 14px;
    color: var(--color-orange-1);
  }
}

.genSmall {
  display: flex;
  width: 50px;
  align-items: center;
  > svg {
    margin-right: 5px;
    fill: #ff4133;
  }
  > p {
    margin: 0;
    font-size: 14px;
    color: #ff4133;
  }
}

.marginTop {
  margin-top: 20px;
}
